services:
  oracle:
    image: gvenzl/oracle-free:latest
    ports:
      - "1521:1521"
    environment:
      ORACLE_PASSWORD: mypassword
      APP_USER: my_user
      APP_USER_PASSWORD: mypassword
      TZ: UTC+3
    healthcheck:
      test: ["CMD", "healthcheck.sh"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s
      start_interval: 5s
    volumes:
      - ./init.sql:/container-entrypoint-initdb.d/my-init.sql:ro
